<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>{{page.threeHeader}}</h2>
			<p>{{page.threeCopy}}</p>
		</header>
		<ul class="features">
			<li class="icon fa-laptop">
				<h3>{{page.threeHeaderOne}}</h3>
				<p>{{page.threeCopyOne}}</p>
			</li>
			<li class="icon fa-mobile">
				<h3>{{page.threeHeaderTwo}}</h3>
				<p>{{page.threeCopyTwo}}</p>
			</li>
			<li class="icon fa-code">
				<h3>{{page.threeHeaderThree}}</h3>
				<p>{{page.threeCopyThree}}</p>
			</li>
			<li class="icon fa-headphones">
				<h3>{{page.threeHeaderFour}}</h3>
				<p>{{page.threeCopyFour}}</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>{{page.threeHeaderFive}}</h3>
				<p>{{page.threeCopyFive}}</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>{{page.threeHeaderSix}}</h3>
				<p>{{page.threeCopySix}}</p>
			</li>
		</ul>
	</div>
</section>