# .htaccess main domain to subdirectory redirect 
# Do not change this line. 
RewriteEngine on 
# Change benfausch.com to be your main domain. 
RewriteCond %{HTTP_HOST} ^(www.)?benfausch.com$ 

# Change '_site' to be the directory you will use for your main domain. 
RewriteCond %{REQUEST_URI} !^/_site/ 

# Don't change the following two lines. 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

# Change '_site' to be the directory you will use for your main domain. 
RewriteRule ^(.*)$ /_site/$1 

#rewrite all .html to file name
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Change benfausch.com to be your main domain again. 

# Change '_site' to be the directory you will use for your main domain 
# followed by / then the main file for your site, index.php, index.html, etc. 

RewriteCond %{HTTP_HOST} ^(www.)?benfausch.com$ 
RewriteRule ^(/)?$ _site/index.html [L]